*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-color: #ddd;
  color: #eee;
}

h1 {
  font-size: 3rem;
  background-color: #333;
  padding: 1em 2em;
  border: none;
  border-radius: 15px;
}

.btn {
  font-weight: 400;
  letter-spacing: .75px;
  background-color: #333;
  color: inherit;
  border: none;
  border-radius: 15px;
  padding: 1em;
}
